.slideshow-next,
.slideshow-prev {
    font-family: tl-icons;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 32px;
    cursor: pointer;
    position:absolute;
    z-index: 10;
    opacity: .5;
}

.slideshow-next:hover,
.slideshow-prev:hover {
    opacity: 1;
}

.slideshow-next {
    text-align: right;
}

.slideshow-next:before {
    content: "\e64f";
}

.slideshow-prev {
    text-align: left;
}

.slideshow-prev:before {
    content: "\e650";
}
